body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.mh1 {
    background-color: #6ca8ca;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.img_bomba {
    width: 100%;
    max-width: 250px; 
    height: auto;
}

.img_blanco {
    width: 100%;
    max-width: 250px; 
    height: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #1e90ff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 30px 30px; 
    background-color: inherit;
    width: 50%;
}

.timeline-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px; 
    right: -17px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:nth-child(even)after {
    left: -16px;
}

.timeline-content {
    padding: 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-content h2 {
    font-size: 16px; 
}

.timeline-content p {
    font-size: 14px;
}

.timeline-date {
    font-size: 12px;
    font-weight: bold;
    color: #1e90ff;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 60px; 
        padding-right: 20px;
    }

    .timeline-item::after {
        left: 15px;
        right: auto;
    }

    .timeline-item:nth-child(even) {
        left: 0%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .timeline {
        max-width: 100%;
    }

    .timeline-item {
        width: 100%;
        left: 0;
        padding-left: 40px;
        padding-right: 40px; 
    }

    .timeline-item::after {
        left: 50%;
        right: auto;
        margin-left: -12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .timeline {
        max-width: 100%;
    }

    .timeline-item {
        width: 50%;
    }
}

@media screen and (min-width: 1366px) {
    .timeline {
        max-width: 1200px;
    }

    .timeline-item {
        width: 50%;
    }
}